/* your styles go here */

p.social {
  text-align: center;
  margin-top: 20px;
}

p.social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 19px;
  line-height: 48px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: bottom;
}

p.social a i {
  vertical-align: bottom;
  line-height: 48px;
}

p.social a.facebook {
  background-color: #ccc;
}

p.social a.gplus {
  background-color: #333;
}

p.social a.twitter {
  background-color: #aaa;
}

p.social a.instagram {
  background-color: #999;
}

p.social a.email {
  background-color: #666;
}

.subheading {
  margin-top: 25px;
}
